body{
  margin: 0;
}

.top-pane{
  background-color: rgb(31, 29, 29);
}

.pane{
  display: flex;
  height: 50vh;
  border: .5rem solid rgb(31, 29, 29);
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: rgb(31, 29, 29);
}

.CodeMirror{
 overflow: hidden !important;
}

.editor-title{
  display: flex;
  justify-content: space-between;
  background-color: rgb(82, 78, 78);
  color: black;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  overflow: hidden;
  font-weight: bold;
}


.code-editor-wrapper{
  flex-grow: 1;
  border-bottom-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.editor-container.collapsed{
  flex-grow : 0;
}

.expand-collapse-btn{
  margin-left: .5rem;
  background: none;
  border: none;
  color: rgb(36, 30, 30);
  cursor: pointer;
}
